#table{
    width:500px;
    height: 500px;
    margin-left:500px;
    margin-top:200px;
}

#errorMessage{
    color:red;
}

.button{
    background-color: rgb(86, 92, 190);
    border-radius: 10px;
    border:none;
    width:340px;
    height: 20px;
}